/* _reset.scss */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Remove margens padrão de textos */
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote {
  margin: 0;
  padding: 0;
}

/* Elementos de mídia */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Inputs */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

textarea {
  resize: vertical; // evita bagunça no layout
}

button {
  cursor: pointer;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Listas */
ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Tabelas */
table {
  border-collapse: collapse;
  width: 100%;
}

/* Base invisível pros elementos sem display padrão consistente */
article,
aside,
footer,
header,
nav,
section,
main {
  display: block;
}
